#chart {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#svg {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

#canvas {
  position: absolute;
}

.modal-dialog {
  width: 90%;
  max-width: 90%;
  height: 90%;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.modal-content {
  height: 100%;
  padding: 0;
}

.dropzone {
  border: 1px dashed #ced4da;
  border-radius: 0.25rem;
  height: 100%;
  padding: 0.5rem;
  background-color: #fcfcfc;
}

.dropzone--active {
  background-color: #d1ecf1;
}

.dropzone__content {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#alert-global {
  margin: 0;
}
